{% extends "_base.html" %}
{% load static %}
{% block title %}Patent Analysis tools{% endblock title %}

{% block content %}
  <h1>Upload Excel File and Set Filters</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Analyze">
  </form>

  {% if top_countries_img %}
    <h2>Top 10 Countries</h2>
    <img src="/{{ top_countries_img }}" alt="Top 10 Countries">
  {% endif %}
  <br>
  <br>
  <br>
  {% if wcld_nouns_img %}
    <h2>Abstracts most frequent nouns</h2>
    <img src="/{{ wcld_nouns_img }}" alt="Wordcloud: nouns">
  {% endif %}
  <br>
  <br>
    {% if wcld_verbs_img %}
    <h2>Abstracts most frequent verbs</h2>
    <img src="/{{ wcld_verbs_img }}" alt="Wordcloud: verbs">
    {% endif %}
  <br>
  <br>
    {% if wcld_adjectives_img %}
    <h2>Abstracts most frequent adjectives</h2>
    <img src="/{{ wcld_adjectives_img }}" alt="Wordcloud: adjectives">
    {% endif %}
  <br>
  <br>
  {% if top_ipcs_img %}
    <h2>Top 10 IPCs</h2>
    <img src="/{{ top_ipcs_img }}" alt="Top 10 IPCs">
  {% endif %}

  {% if top_ipcs_defs_img %}
    <h2>IPC Definitions</h2>
    <img src="/{{ top_ipcs_defs_img }}" alt="IPC Group Definitions">
  {% endif %}
  <br>
  <br>
  <br>
  {% if parallel_img %}
    <h2>Parallel Coordinates Plot</h2>
    <img src="/{{ parallel_img }}" alt="Parallel Coordinates Plot">
  {% endif %}
  
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
{% endblock content %}
