{% extends "_base.html" %}
{% load static %}
{% block title %}Patent Analysis tools{% endblock title %}

{% block content %}
  <h1>Upload Excel File and Set Filters</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Analyze">
  </form>
  <br>
    <p>
      Be patient, language processing demands a lot of processor power, so it may take from a few seconds to minutes for the results to appear
    </p>  
  <br>
    <br>
    {% if wcld_verbs_img %}
    <h2>Abstracts most frequent nouns</h2>
    <img src="{{ wcld_nouns_img }}" alt="Wordcloud: nouns">
    {% endif %}
  <br>
  <br>
    {% if wcld_verbs_img %}
    <h2>Abstracts most frequent verbs</h2>
    <img src="{{ wcld_verbs_img }}" alt="Wordcloud: verbs">
    {% endif %}
  <br>
  <br>
    {% if wcld_adjectives_img %}
    <h2>Abstracts most frequent adjectives</h2>
    <img src="{{ wcld_adjectives_img }}" alt="Wordcloud: adjectives">
    {% endif %}
  <br>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
{% endblock content %}
