{% extends "_base.html" %}
{% load static %}
{% block title %}Patent Analysis tools{% endblock title %}

{% block content %}
  <h1>Upload Excel File and Set Filters</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Analyze">
  </form>
  <br>
  {% if top_ipcs_img %}
    <h2>Top 10 IPCs</h2>
    <img src="{{ top_ipcs_img }}" alt="Top 10 IPCs">
  {% endif %}

  {% if top_ipcs_defs_img %}
    <h2>IPC Definitions</h2>
    <img src="{{ top_ipcs_defs_img }}" alt="IPC Group Definitions" style="max-width: 100%; height: auto;">
  {% endif %}
  <br>
  <br>
  <br>
  {% if parallel_img %}
    <h2>Parallel Coordinates Plot</h2>
    <img src="{{ parallel_img }}" alt="Parallel Coordinates Plot">
  {% endif %}
  <br>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
{% endblock content %}
