{% extends "_base.html" %}
{% load static %}

{% block title %}About{% endblock title %}
{% block content %}
<img class="bookcover" src="{% static 'images/werner_de_juan.jpg' %}">
<h1> Werner Deichmann Juan </h1>
<p>I am a patent expert with more than 14 years of experience in the life sciences industry. 
</p>
<p>I started my career in the Biotech industry in a life sciences investment fund, where I developed my knowledge and skills for about 10 years. I also collaborate with a personalized medicine development startup, an optic sensors company and a cardiology related medical devices startup doing mostly patentability analysis, prior and state of the art searches, but also FTO analysis and patent landscapes.
</p>
<p> I have studied the European Patent Convention law since I started my work in the Patents field by attending the EPI online course for the European Qualifying Examination as well as many WIPO specialized courses on patent drafting, searching, and Biotechnology patents and I have been able to put to practice the knowledge acquired with excellent results, measured in granted patents and easier, less contested, therefore cheaper in lawyer fees, patent processes.
</p>
<br>
<a href="https://www.linkedin.com/in/werner-deichmann-juan-52667433/"" target = "_blank"> Linkedin page </a>
{% endblock content %}
